body {
  background-color: #f5f5f5;
}

.taskInput {
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
}
.taskInput:focus {
  outline: 5px solid rgba(108, 117, 125, 0.6549019608);
  border: 1px solid #000;
  border-radius: 2px;
}

.item:focus {
  outline-color: blue;
}